//Valid values: FastPlay, Standard, StandaloneNoSafeStorage, StandaloneFileBackedSafeStorage, WebAndMobile, UniversalController, StandaloneBinaryFileBackedSafeStorage
"Type" : "StandaloneFileBackedSafeStorage"
//Valid values: AnyIp, LocalHost
"ToolConnections" : "AnyIp"
//Valid values: True, False
"ShowMouseCursor" : "False"
//The port that the Fast play listens to. Example: 6003
"FastPlayPort" : "6003"
//Valid targets: UniversalController, AscentHSeriesCds, AscentISeriesCds, AscentJSeriesMps, AscentKSeriesCds, AscentMSeries, AscentN01Series, AscentN01SeriesSb, AscentN02Series, Next
"TargetedFoundation" : "AscentMSeries"
//Fit all windows on the main monitor. Valid values: True, False
"FitToScreen" : "False"
//Force enable all monitors on game build. Valid values: True, False
"ForceEnableAllMonitors" : "False"
